<!--side bar-->
<div id = "sidebar">

    <!--Profile-->
    <div class="profile-wrapper">
        <div id="profile">
            <a href="/" alt="home"></a>
        </div>
        <div class="main-title">
            <a href="/" alt="home">{{site.title}}</a>
        </div>
    </div>

    <!--Menu Section-->
    <div id="menu">
        <table id="menu-table">
            <thead>
                <tr><td>CHECK ME OUT!</td></tr>
                <tr><td>My Dev Blog</td></tr>
                <tr><td><br></td></tr>
            </thead>
            <tbody>
                <tr><th>Study Blogs:</th></tr>
                <tr><td>Deep Learning</td></tr>
                <tr><td>CS224n (Winter 2021)</td></tr>
                <tr><td>BaekJoon</td></tr>

                <tr><td><br></td></tr>

                <tr><th>Hobbies:</th></tr>
                <tr><td>Insta film</td></tr>

                <tr><td><br></td></tr>

                <tr><th>GitHub</th></tr>


            </tbody>
        </table>
    </div>
</div>