/* Main body*/
body{
    font-family: Roboto Mono;
    font-style: normal;
    letter-spacing: -0.02em;
}
  


/* core content */
.page-content{
    margin-left: $sidebar-width;
}


#main-content{
    display: flex;
    min-height: $main-min-height;
    padding-bottom: $footer-height;

    #sub-wrapper{
        width: $sub-max-width;
        padding: 20px;
    }
    
    #core-wrapper{
        width: 100%;
        padding: 30px 40px;
    }
}




/* sidebar */
#sidebar{
    position: fixed;
    top: 0;
    left: 0;

    width: $sidebar-width;
    height: 100%;

    background-color: $main-color;
    border-right: 0.7px solid rgb(228, 228, 228);
    text-align: center;
    z-index: 100;

    /*Profile section*/
    .profile-wrapper{
        margin-top: 90px;

        #profile{
            width: 6rem;
            height: 6rem;
            margin:auto;
            border-radius: 50%;
            overflow: hidden;
    
            background-color: rgb(71, 71, 71);
            border: 0.1rem solid rgb(253, 241, 194);

            img{
                transform: scale(1.3);
            }
        }
    
        .main-title {
            padding-top: 0.5rem;
            font-family: $main-font;
    
            a{ 
                font-size: 1.4rem;
                color: black;
            }
    
            a:hover{
                text-decoration: none;
                color: gray;
            }
        }
    }

    
    /*Menu section*/
    #menu{
        margin: 2.8rem 2.7rem;
        font-size: 0.9rem;

        a{
            color: black;
        }

        a:hover{
            text-decoration: none;
        }

        table, table th, table td, table tr{
            border:none;
            background-color: $main-color;
        }

        table th, table td{
            padding:0.1rem 0.1rem;
        }

        table td:hover{
            background-color: $highlight-hover;
            color: black;

            border-radius: 7%;
            border-left: 2px solid gray;
        }

        td.menu-space:hover{
            background-color: $main-color;
            border: none;
        }

        td#menu-blog{
            color: #43978F;
            font-weight: 700;
        }

        td#menu-blog:hover{
            background-color: rgba(67, 151, 143, 0.14);
            cursor: pointer;
        }

        th.menu-social:hover{
            background-color: rgba(67, 151, 143, 0.14);
            border-left: 2px solid gray;
        }

    }

    /*CHECK OUT*/
    #check-text{
        color: $highlight-color;
        font-size: 1.0rem;
    }

    /*Bottom section of sidebar*/
    #end-section{
        position:fixed;
        bottom: 0;
        left: 0;
    
        width: $sidebar-width;
        margin: auto;
        margin-bottom: 0.5rem;
    
        text-align: center;
    
        #slogan{
            font-size: 0.8rem;
            color: $lightgray;
        }
    }

}

/* right side panel*/
#right-sidebar{
    position: fixed;
    margin-right: 10px;


    font-size: 0.8rem;
    margin-top: 5px;

    a, td, th, tr, table{
        color: gray;
    }

    td, th, tr, table{
        border: none;
        background-color: white;
    }

    table{
        border-left: 0.6px solid rgb(240, 240, 240);
    }

    td{
        padding-left: 0.5rem;
    }

    a:hover{
        color:black;
        cursor: pointer;
    }

    #side-keywords{
        .tag-link{
            display: inline-block;
            margin-bottom: 10px;
            .tag-count{
                color: rgb(95, 95, 95);
                margin-left: 0.2rem;
                
            }
        }

        .tag-highlight{
            padding: 0.2rem 0.4rem;
            border-radius: 0.2rem;
        
            background-color: $lightblue;
            color: $darkblue-font;
        }
    }


}


/** SVG */
#svg-insta{
    margin-top:3px;
    margin-left:-4px;
}

#svg-git{
    margin-left:4px;
    margin-top: 3px;
}

.svg-emoji{
    width: 45px;
    height: auto;
    margin-bottom:-12px;
}


/*Footer*/
footer.site-footer{
    padding: 10px 0;

    .footer-col{
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
    }

    #copyright{
            font-size: 1.3rem;
        }

    a:hover{
        text-decoration: underline;
    }
}



.word-highlight{
    border: 1px solid rgb(214, 214, 214);
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.tag-highlight{
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;

    background-color: $lightblue;
    color: $darkblue-font;
}






/*Markdown decoration*/
.underline{
    text-decoration: underline;
}

.bold{
    font-weight: 700;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight-red{ color: rgb(226, 0, 0);}
.highlight-blue{ color: rgb(27, 27, 158); }
.highlight-gray{color: $darkgray;}


.background-yellow{ 
    background-color: $post-highlight; 
    padding: 1px 5px;
    border: 0.5px solid $post-highlight-border;
    border-radius: 3px;
}




