body{
    font-family: Roboto Mono;
    font-style: normal;
    letter-spacing: -0.065em;
  }


/* sidebar */
#sidebar{
    position: fixed;
    top: 0;
    left: 0;

    width: $sidebar-width;
    height: 100%;

    background-color: $main-color;
    padding-top: 100px;
    text-align: center;

    #profile{
        width: 8rem;
        height: 8rem;
        margin:auto;
        border-radius: 50%;

        background-color: black;
    }

    .main-title {
        padding-top: 0.5rem;

        a{ 
            font-size: 1.2rem;
        }
    }

    #menu{
        margin-top: 1.5rem;

        table th, table td{
            padding:5px 10px;
        }
    }


}


