body{
    font-family: Roboto Mono;
    font-style: normal;
    letter-spacing: -0.065em;
  }


/* sidebar */
#sidebar{
    position: fixed;
    top: 0;
    left: 0;

    width: $sidebar-width;
    height: 100%;

    background-color: $main-color;
    padding-top: 30px;
}

