
/* side bar */
$sidebar-width: 260px !default;        // the basic width
$sidebar-width-small: 250px !default;  // smaller width
$sidebar-width-2xsmall: 210px !default;  // smaller width

$sidebar-width-large: 350px !default;  // screen width: >= 1650px

$navbar-height: 35px !default;


$main-color: #F9F9F7;
$dark-main-color: #ececec;
$main-font: 'Share Tech Mono', monospace;
$second-font: Roboto Mono, monospace;

$highlight-color: #F29100;
$highlight-hover: rgba(255, 161, 19, 0.14);
// $post-highlight: rgba(253, 255, 199, 0.87);
$post-highlight: rgba(204, 202, 202, 0.295);
$post-text: rgb(255, 20, 20);

// $post-highlight-border: rgba(238, 238, 145, 0.87);
$post-highlight-border: rgba(224, 224, 224, 0.87);
$post-dark-highlight: rgba(232, 233, 155, 0.87);

$lightgray: rgb(197, 197, 197);
$darkgray: rgb(163, 163, 163);


$sub-max-width: 430px !default;
$sub-max-width-small : 410px !default;

$main-min-height: 990px;
$footer-height: 3.5rem;


$thumbnail-width: 10rem;


$lightblue: hsl(205,46%,92%);
$darkblue-border: hsl(206,100%,40%);
$darkblue-font: hsl(205,47%,42%);