
/* side bar */
$sidebar-width: 260px !default;        // the basic width
$sidebar-width-small: 210px !default;  // screen width: >= 850px, <= 1199px (iPad landscape)
$sidebar-width-large: 350px !default;  // screen width: >= 1650px


$main-color: #F9F9F7;
$main-font: 'Share Tech Mono', monospace;

$highlight-color: #F29100;
$highlight-hover: rgba(255, 161, 19, 0.14);
$post-highlight: rgba(254, 255, 197, 0.87);

$lightgray: rgb(197, 197, 197);


$sub-max-width: 295px !default;
$main-min-height: 990px;
$footer-height: 3.5rem;


$thumbnail-width: 10rem;
