
/* side bar */
$sidebar-width: 260px !default;        // the basic width
$sidebar-width-small: 210px !default;  // screen width: >= 850px, <= 1199px (iPad landscape)
$sidebar-width-large: 350px !default;  // screen width: >= 1650px


$main-color: #F9F9F9;
