/** Overwrites of main.css */
body{
    font-family: Roboto Mono;
    font-style: normal;
    letter-spacing: -0.065em;
}

.post-header{
    margin-top: 90px;
    margin-left:30px;
}

/** Index page slogan */
.slogan{
    font-family: 'Share Tech Mono', monospace;
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
}

.sloganText{
    text-align: right;
    margin-bottom: 35px;
}



/** Index page information table */
table.content-table{
    margin-top: 85px;
    border:none;
}

.content-table td{
    vertical-align: top;
    border:none;
    padding-left: 30px;
}

.category{
    font-weight: 700;
}

a.category{
    text-decoration: none;
    color:black;
}

a.category:hover{
    text-decoration: underline;
}


div.block{
    margin-top: 28px;
}


/** SVG css */
#svg-insta{
    margin-top:3px;
    margin-left:-4px;
}

#svg-git{
    margin-left:4px;
    margin-top: 3px;
}

.svg-emoji{
    width: 45px;
    height: auto;
    margin-bottom:-12px;
}

svg#svg-insta:hover{
    fill: #18A0A0;
}

/** Link to pages */
a.study-link, a.hobby-link{
    text-decoration: none;
    color: black;
}

a.study-link:hover{
    font-weight:600;
    color: #83a384;
    text-decoration: underline;
    cursor:pointer;
}

a.hobby-link:hover{
    font-weight:600;
    color: #18A0A0;
    text-decoration: underline;
    cursor:pointer;
}


/** Slogan <br> */
span.newLine{
    display:none;
}

@media screen and (max-width: 425px) {
    span.newLine{
        display:block;
        margin-bottom: 5px;
    }
}

