body{
    font-family: Roboto Mono;
    font-style: normal;
    letter-spacing: -0.065em;
}

.slogan{
    font-family: 'Share Tech Mono', monospace;
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
}


.post-header{
    margin-top: 110px;
    margin-left:30px;
}

.sloganText{
    text-align: right;
    margin-bottom: 35px;
}

.svg-emoji{
    width: 45px;
    height: auto;
    margin-bottom:-12px;
}

.content-table{
    margin-top: 65px;
}