---
layout: default
---

<div id="main-content">

    <!--Core content-->
    <div id="core-wrapper">
        <table id="post-table">
            {% for post in site.posts %}
                <tr>
                    <td>
                        <div class="post-list">

                            <!--post image-->
                            <div class="post-thumbnail">
                                <div class="thumbnail">
                                    <img src={{post.thumbnail-url}} onerror="this.style.display='none'"/>
                                </div>
                            </div>

                            <!--post basic info-->
                            <div class="post-info">
                                    <a class="post-maininfo" href="{{post.url | prepend: site.baseurl}}">
                                        <span class="post-category">{{post.categories}}</span>:
                                        <span class="post-title">{{post.title}}</span>
                                    </a>
                                    <div class="post-description">{{post.description}}</div>
                                    <span class="post-date">{{post.date | date: "%Y-%m-%d"}}&nbsp;·&nbsp;</span> 
                                    <span class="post-keywords">
                                        {% for key in post.keywords %}
                                        {{key}}
                                        {% endfor %}
                                    </span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div><!--#core-wrapper-->


    <!--sub wrapper (RIGHT)-->
    <div id="sub-wrapper">
        {%- include right-sidebar.html -%} 
    </div><!--#sub-wrapper-->
</div>