/* page.html scss*/


/* Post list */
table#post-table{
    border: none;
    font-family: 'Share Tech Mono', monospace;


    td, tr{
        border: none;
        background-color: white;
    }

    .post-list{
        display: flex;
        border: 0.6px solid rgb(240, 240, 240);
        border-radius: 8px;

        margin: 0px 20px;
        padding: 10px;

        .post-thumbnail{
            width: $thumbnail-width;
            padding: 5px;

            .thumbnail{
                background-color: white;
                width: 6rem;
                height: 6rem;
                margin:auto;
            }
        }

        .post-info{
            width: 100%;
            padding: 8px 15px;

            .post-category, .post-title{
                font-size: 1.45rem;
            }

            .post-title{
                background-color: $post-highlight;
                border-radius: 5px;
                padding: 2px;
                
            }

            .post-title, .post-description{
                margin-bottom: 0.4rem;
            }

            .post-date, .post-keywords{
                color: rgb(167, 167, 167);
            }

            .post-description{
                color: rgb(99, 99, 99);
            }

            a{
                color:black;
            }
        }
    }
}


@media all and (max-width: 950px){
    table#post-table{
        .post-list{
            .post-thumbnail{
                width: 7rem;

                .thumbnail{
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
}

@media all and (max-width: 425px){
    table#post-table{
        .post-list{
            margin: 0px 0;


            .post-info{
                .post-category, .post-title{
                    font-size: 1.2rem;
                }

                .post-description, .post-date, .post-keywords{
                    font-size: smaller;
                }
            }

            .post-thumbnail{
                width: 5rem;

                .thumbnail{
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
        }
    }

}   