/* page.html scss*/


/* Post list */
table#post-table{
    border: none;
    font-family: 'Share Tech Mono', monospace;


    td, tr{
        border: none;
        background-color: white;
    }

    .post-list{
        display: flex;
        border: 0.6px solid rgb(240, 240, 240);
        border-radius: 8px;

        margin: 0px 20px;
        padding: 10px;

        .post-thumbnail{
            width: $thumbnail-width;
            padding: 5px;

            .thumbnail{
                background-color: $lightgray;
                width: 6rem;
                height: 6rem;
                margin:auto;
            }
        }

        .post-info{
            width: 100%;
            padding: 8px 15px;

            .post-category, .post-title{
                font-size: 1.45rem;
            }

            .post-title{
                background-color: $post-highlight;
                
            }

            .post-title, .post-description{
                margin-bottom: 0.4rem;
            }

            .post-date, .post-keywords{
                color: rgb(167, 167, 167);
            }

            .post-description{
                color: rgb(99, 99, 99);
            }

            a{
                color:black;
            }
        }
    }
}