
.post-header{
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid $lightgray;

    .post-highlight{
        background-color: $post-highlight;
        
    }

    .post-date{
        color: $darkgray;
        font-size: 0.8rem;
    }

    .post-title{
        font-size: 2.0rem;
        padding: 0rem 0.4rem 0 0;
        display: flex;
        font-family: $main-font;
    }

    .tag-highlight{
        padding: 0.1rem 0.2rem;
        margin-left: 0.2rem;
        font-size: 0.8rem;
    }
}

#post-content{
    font-size: 0.9rem;
    padding-right: 10px;
    padding-left: 10px;

    .post-subtitle{
        text-decoration: underline;
        margin-bottom: 4px;
        margin-top: 10px;
        font-weight: 700;
        letter-spacing: 0.05rem;
    }

    img{
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .image-caption{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        
        color: $darkgray;
    }

    p{
        line-height: 1.6rem;
    }

}

pre, code {
    background-color: $post-highlight;
    border: 0.5px solid $post-highlight-border;
}

.callout{
    display: flex;
    background-color: rgba(241, 241, 239, 1);
    padding: 1rem 1.5rem;

    .callout-icon{
        margin-right: 0.5rem;
    }

    margin-bottom: 0.5rem;
}



